$mnrl-button-size-medium: 35px;
$mnrl-button-size-large: 40px;
$mnrl-button-size-jumbo: 44px;
$mnrl-checkbox-backgroundColor-checked: #2ebf74;
$mnrl-checkbox-backgroundColor-checkedHover: #76d7a4;
$mnrl-checkbox-borderColor: #8e99ab;
$mnrl-checkbox-borderColor-checked: #2ebf74;
$mnrl-checkbox-borderColor-checkedHover: #76d7a4;
$mnrl-checkbox-borderColor-hover: #afbacc;
$mnrl-checkbox-borderWidth: 2;
$mnrl-control-borderColor: #ebeff5;
$mnrl-control-borderColor-hover: #ebeff5;
$mnrl-backgroundColor: #ffffff;
$mnrl-backgroundColor-active: #ebeff5;
$mnrl-backgroundColor-disabled: #ebeff5;
$mnrl-backgroundColor-focus: #ffffff;
$mnrl-backgroundColor-hover: #f5f7fa;
$mnrl-backgroundColor-brand-selected: #f0f5fc;
$mnrl-backgroundColor-brand-selectedActive: #9bc4e2;
$mnrl-backgroundColor-brand-selectedHover: #c5ddef;
$mnrl-backgroundColor-brandPrimary: #1b7bbc;
$mnrl-backgroundColor-brandPrimary-active: #1a659c;
$mnrl-backgroundColor-brandPrimary-focus: #1b7bbc;
$mnrl-backgroundColor-brandPrimary-hover: #4693c9;
$mnrl-backgroundColor-danger-active: #f1c2c6;
$mnrl-backgroundColor-danger-focus: #faf0f0;
$mnrl-backgroundColor-danger-hover: #faf0f0;
$mnrl-backgroundColor-dangerPrimary: #cc0b1f;
$mnrl-backgroundColor-dangerPrimary-active: #aa0e1d;
$mnrl-backgroundColor-dangerPrimary-focus: #cc0b1f;
$mnrl-backgroundColor-dangerPrimary-hover: #d53949;
$mnrl-backgroundColor-success-active: #bdeed3;
$mnrl-backgroundColor-success-focus: #e1faeb;
$mnrl-backgroundColor-success-hover: #e1faeb;
$mnrl-backgroundColor-successPrimary: #2ebf74;
$mnrl-backgroundColor-successPrimary-active: #279a5e;
$mnrl-backgroundColor-successPrimary-focus: #2ebf74;
$mnrl-backgroundColor-successPrimary-hover: #52cb8c;
$mnrl-backgroundColor-warning-active: #fce7b2;
$mnrl-backgroundColor-warning-focus: #fef3d9;
$mnrl-backgroundColor-warning-hover: #fef3d9;
$mnrl-backgroundColor-warningPrimary: #f7b718;
$mnrl-backgroundColor-warningPrimary-active: #c69213;
$mnrl-backgroundColor-warningPrimary-focus: #f7b718;
$mnrl-backgroundColor-warningPrimary-hover: #f8c33f;
$mnrl-backgroundColor-grayscale-active: #ebeff5;
$mnrl-backgroundColor-grayscale-focus: #f5f7fa;
$mnrl-backgroundColor-grayscale-hover: #f5f7fa;
$mnrl-backgroundColor-grayscalePrimary: #ebeff5;
$mnrl-backgroundColor-grayscalePrimary-active: #c8d1e0;
$mnrl-backgroundColor-grayscalePrimary-focus: #ebeff5;
$mnrl-backgroundColor-grayscalePrimary-hover: #dde3ed;
$mnrl-borderColor: #c8d1e0;
$mnrl-borderColor-brand: #1b7bbc;
$mnrl-borderColor-brand-active: #1a659c;
$mnrl-borderColor-brand-focus: #1a659c;
$mnrl-borderColor-brand-hover: #4693c9;
$mnrl-borderColor-danger: #cc0b1f;
$mnrl-borderColor-danger-active: #aa0e1d;
$mnrl-borderColor-danger-focus: #aa0e1d;
$mnrl-borderColor-danger-hover: #d53949;
$mnrl-borderColor-success: #2ebf74;
$mnrl-borderColor-success-active: #279a5e;
$mnrl-borderColor-success-focus: #279a5e;
$mnrl-borderColor-success-hover: #52cb8c;
$mnrl-borderColor-warning: #f7b718;
$mnrl-borderColor-warning-active: #c69213;
$mnrl-borderColor-warning-focus: #c69213;
$mnrl-borderColor-warning-hover: #f8c33f;
$mnrl-borderColor-grayscale: #8e99ab;
$mnrl-borderColor-grayscale-active: #707a8a;
$mnrl-borderColor-grayscale-focus: #707a8a ;
$mnrl-borderColor-grayscale-hover: #afbacc;
$mnrl-borderColor-transparent: transparent;
$mnrl-borderRadius-1: 3px;
$mnrl-borderRadius-2: 4px;
$mnrl-borderRadius-3: 4.5px;
$mnrl-borderWidth-sm: 1;
$mnrl-borderWidth-md: 1.5;
$mnrl-borderWidth-lg: 2;
$mnrl-boxShadow-1: 0 1px 2px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.2);
$mnrl-boxShadow-2: 0 2px 4px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.2);
$mnrl-boxShadow-3: 0 4px 8px 0 rgba(0,0,0,0.2), 0 8px 16px 0 rgba(0,0,0,0.2);
$mnrl-boxShadow-4: 0 8px 16px 0 rgba(0,0,0,0.2), 0 20px 16px -8px rgba(0,0,0,0.2);
$mnrl-boxShadow-5: 0 16px 24px 0 rgba(0,0,0,0.2), 0 32px 24px -16px rgba(0,0,0,0.2);
$mnrl-breakpoint-narrow: 512px;
$mnrl-breakpoint-medium: 768px;
$mnrl-breakpoint-wide: 1024px;
$mnrl-cursor-style: pointer;
$mnrl-color: #333840;
$mnrl-color-inverted: #ffffff;
$mnrl-color-disabled: #c8d1e0;
$mnrl-color-mouse: #58606e;
$mnrl-color-readOnly: #333840;
$mnrl-color-required: #cc0b1f;
$mnrl-color-brand: #1b7bbc;
$mnrl-color-brandPrimary: #ffffff;
$mnrl-color-brand-active: #1a659c;
$mnrl-color-brand-focus: #1b7bbc;
$mnrl-color-brand-hover: #4693c9;
$mnrl-color-danger: #cc0b1f;
$mnrl-color-dangerPrimary: #ffffff;
$mnrl-color-danger-active: #aa0e1d;
$mnrl-color-danger-focus: #cc0b1f;
$mnrl-color-danger-hover: #d53949;
$mnrl-color-success: #2ebf74;
$mnrl-color-successPrimary: #ffffff;
$mnrl-color-success-active: #279a5e;
$mnrl-color-success-focus: #2ebf74;
$mnrl-color-success-hover: #52cb8c;
$mnrl-color-warning: #f7b718;
$mnrl-color-warningPrimary: #ffffff;
$mnrl-color-warning-active: #c69213;
$mnrl-color-warning-focus: #f7b718;
$mnrl-color-warning-hover: #f8c33f;
$mnrl-color-grayscale: #8e99ab;
$mnrl-color-grayscalePrimary: #434a54;
$mnrl-color-grayscale-active: #707a8a;
$mnrl-color-grayscale-focus: #8e99ab;
$mnrl-color-grayscale-hover: #afbacc;
$mnrl-fontFamily: "proxima-nova";
$mnrl-fontFamily-system: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$mnrl-fontFamily-monospace: "SF Mono", "Droid Sans Mono", "Source Code Pro", Monaco, Consolas, "Courier New", Courier, monospace;
$mnrl-fontSize-base: 1rem;
$mnrl-fontSize-mouse: 0.6875rem;
$mnrl-fontSize-prose: 1rem;
$mnrl-fontSize-ui: 0.875rem;
$mnrl-fontSize-ui-sm: 0.75rem;
$mnrl-fontWeight-regular: 400;
$mnrl-fontWeight-semiBold: 600;
$mnrl-fontWeight-bold: 700;
$mnrl-fontWeight-extraBold: 800;
$mnrl-lineHeight: 1.25;
$mnrl-lineHeight-heading: 1.25;
$mnrl-lineHeight-heading-small: 1.5;
$mnrl-lineHeight-prose: 1.5;
$mnrl-size-small: 24px;
$mnrl-size-medium: 32px;
$mnrl-size-large: 40px;
$mnrl-size-jumbo: 52px;
$mnrl-space-inline-xxs: 2px;
$mnrl-space-inline-xs: 4px;
$mnrl-space-inline-sm: 8px;
$mnrl-space-inline-md: 16px;
$mnrl-space-inline-lg: 24px;
$mnrl-space-inline-xl: 32px;
$mnrl-space-inline-xxl: 64px;
$mnrl-space-inset-sm: 8px;
$mnrl-space-inset-sm-plus: 12px;
$mnrl-space-inset-md: 16px;
$mnrl-space-inset-lg: 24px;
$mnrl-space-stack-xxs: 2px;
$mnrl-space-stack-xs: 4px;
$mnrl-space-stack-sm: 8px;
$mnrl-space-stack-md: 16px;
$mnrl-space-stack-lg: 24px;
$mnrl-space-stack-xl: 32px;
$mnrl-space-stack-xxl: 64px;
$mnrl-space-none: 0px;
$mnrl-zIndex-100: 100;
$mnrl-zIndex-200: 200;
$mnrl-zIndex-400: 400;
$mnrl-zIndex-800: 800;
$mnrl-zIndex-1600: 1600;
$mnrl-h1-color: #333840;
$mnrl-h1-fontSize: 2.125rem;
$mnrl-h1-fontWeight: 800;
$mnrl-h2-color: #58606e;
$mnrl-h2-fontSize: 1.75rem;
$mnrl-h2-fontWeight: 700;
$mnrl-h3-color: #58606e;
$mnrl-h3-fontSize: 1.375rem;
$mnrl-h3-fontWeight: 700;
$mnrl-h4-color: #58606e;
$mnrl-h4-fontSize: 1.125rem;
$mnrl-h4-fontWeight: 700;
$mnrl-h5-color: #333840;
$mnrl-h5-fontSize: 0.875rem;
$mnrl-h5-fontWeight: 700;
$mnrl-h6-color: #58606e;
$mnrl-h6-fontSize: 0.875rem;
$mnrl-h6-fontWeight: 400;
$mnrl-icon-color: #58606e;
$mnrl-icon-color-brand: #1b7bbc;
$mnrl-icon-color-danger: #cc0b1f;
$mnrl-icon-color-success: #2ebf74;
$mnrl-icon-color-warning: #f7b718;
$mnrl-icon-color-grayscale: #434a54;
$mnrl-input-backgroundColor: #ffffff;
$mnrl-input-backgroundColor-disabled: #f5f7fa;
$mnrl-input-color-placeholder: #8e99ab;
$mnrl-input-size-small: 24px;
$mnrl-input-size-medium: 30px;
$mnrl-input-size-large: 36px;
$mnrl-input-size-jumbo: 42px;
$mnrl-panel-backgroundColor: #ffffff;
$mnrl-panel-backgroundColor-inverted: #434a54;
$mnrl-panel-borderColor: #ebeff5;
$mnrl-panel-borderColor-inverted: #434a54;
$mnrl-well-backgroundColor: #ebeff5;
$mnrl-well-backgroundColor-danger: #f1c2c6;
$mnrl-well-backgroundColor-success: #bdeed3;
$mnrl-well-backgroundColor-warning: #fce7b2;
$mnrl-well-borderColor-danger: #de6773;
$mnrl-well-borderColor-success: #76d7a4;
$mnrl-well-borderColor-warning: #facf65;
$mnrl-black: #1d1f24;
$mnrl-white: #ffffff;
$mnrl-brand-10: #f0f5fc;
$mnrl-brand-20: #c5ddef;
$mnrl-brand-30: #9bc4e2;
$mnrl-brand-40: #70acd6;
$mnrl-brand-50: #4693c9;
$mnrl-brand-60: #1b7bbc;
$mnrl-brand-70: #1a659c;
$mnrl-brand-80: #184f7c;
$mnrl-brand-90: #17395b;
$mnrl-brand-100: #15233b;
$mnrl-blue-10: #f0f5fc;
$mnrl-blue-20: #c5ddef;
$mnrl-blue-30: #9bc4e2;
$mnrl-blue-40: #70acd6;
$mnrl-blue-50: #4693c9;
$mnrl-blue-60: #1b7bbc;
$mnrl-blue-70: #1a659c;
$mnrl-blue-80: #184f7c;
$mnrl-blue-90: #17395b;
$mnrl-blue-100: #15233b;
$mnrl-bronze-10: #fef3d9;
$mnrl-bronze-20: #fce7b2;
$mnrl-bronze-30: #fbdb8c;
$mnrl-bronze-40: #facf65;
$mnrl-bronze-50: #f8c33f;
$mnrl-bronze-60: #f7b718;
$mnrl-bronze-70: #c69213;
$mnrl-bronze-80: #946e0e;
$mnrl-bronze-90: #63490a;
$mnrl-bronze-100: #312505;
$mnrl-dusk-10: #f4f2f7;
$mnrl-dusk-20: #e3dcf7;
$mnrl-dusk-30: #cec2f0;
$mnrl-dusk-40: #b5a6e3;
$mnrl-dusk-50: #9886cf;
$mnrl-dusk-60: #7a68b3;
$mnrl-dusk-70: #645396;
$mnrl-dusk-80: #4f4178;
$mnrl-dusk-90: #3a3154;
$mnrl-dusk-100: #282436;
$mnrl-gray-10: #f5f7fa;
$mnrl-gray-20: #ebeff5;
$mnrl-gray-30: #dde3ed;
$mnrl-gray-40: #c8d1e0;
$mnrl-gray-50: #afbacc;
$mnrl-gray-60: #8e99ab;
$mnrl-gray-70: #707a8a;
$mnrl-gray-80: #58606e;
$mnrl-gray-90: #434a54;
$mnrl-gray-100: #333840;
$mnrl-green-10: #e1faeb;
$mnrl-green-20: #bdeed3;
$mnrl-green-30: #99e2bb;
$mnrl-green-40: #76d7a4;
$mnrl-green-50: #52cb8c;
$mnrl-green-60: #2ebf74;
$mnrl-green-70: #279a5e;
$mnrl-green-80: #207548;
$mnrl-green-90: #185031;
$mnrl-green-100: #112b1b;
$mnrl-indigo-10: #f2f2fc;
$mnrl-indigo-20: #dcdcfc;
$mnrl-indigo-30: #c2c2fc;
$mnrl-indigo-40: #a7a7fa;
$mnrl-indigo-50: #8585f2;
$mnrl-indigo-60: #6767e6;
$mnrl-indigo-70: #4d4dd1;
$mnrl-indigo-80: #3737b3;
$mnrl-indigo-90: #28288a;
$mnrl-indigo-100: #202057;
$mnrl-magenta-10: #faf0f4;
$mnrl-magenta-20: #fad4e4;
$mnrl-magenta-30: #fab4d1;
$mnrl-magenta-40: #f78bb8;
$mnrl-magenta-50: #ed5393;
$mnrl-magenta-60: #d6246e;
$mnrl-magenta-70: #b01355;
$mnrl-magenta-80: #8a1244;
$mnrl-magenta-90: #611535;
$mnrl-magenta-100: #421527;
$mnrl-purple-10: #f5f0fa;
$mnrl-purple-20: #dad0ef;
$mnrl-purple-30: #c0b0e3;
$mnrl-purple-40: #a591d8;
$mnrl-purple-50: #8b71cc;
$mnrl-purple-60: #7051c1;
$mnrl-purple-70: #6244a5;
$mnrl-purple-80: #54378a;
$mnrl-purple-90: #45296e;
$mnrl-purple-100: #371c52;
$mnrl-red-10: #faf0f0;
$mnrl-red-20: #f1c2c6;
$mnrl-red-30: #e8949c;
$mnrl-red-40: #de6773;
$mnrl-red-50: #d53949;
$mnrl-red-60: #cc0b1f;
$mnrl-red-70: #aa0e1d;
$mnrl-red-80: #89111b;
$mnrl-red-90: #671419;
$mnrl-red-100: #451717;
$mnrl-sky-10: #e8f4fa;
$mnrl-sky-20: #bbe5fa;
$mnrl-sky-30: #8dd4f7;
$mnrl-sky-40: #53baed;
$mnrl-sky-50: #229ad6;
$mnrl-sky-60: #0c7bb3;
$mnrl-sky-70: #066391;
$mnrl-sky-80: #064d70;
$mnrl-sky-90: #093952;
$mnrl-sky-100: #0c2938;
$mnrl-slate-10: #edf4f7;
$mnrl-slate-20: #cbe3f5;
$mnrl-slate-30: #a7ceeb;
$mnrl-slate-40: #84b7db;
$mnrl-slate-50: #5e95bd;
$mnrl-slate-60: #48799c;
$mnrl-slate-70: #376180;
$mnrl-slate-80: #2d4d63;
$mnrl-slate-90: #243947;
$mnrl-slate-100: #1d2830;
$mnrl-teal-10: #e4f7f6;
$mnrl-teal-20: #a8ede9;
$mnrl-teal-30: #6cd9d2;
$mnrl-teal-40: #45bfb7;
$mnrl-teal-50: #28a199;
$mnrl-teal-60: #17827b;
$mnrl-teal-70: #116963;
$mnrl-teal-80: #0d524d;
$mnrl-teal-90: #0b3d3a;
$mnrl-teal-100: #092b29;